section{
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

div{
  background-color: var(--color-bg-darkBlue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  div{
    a{
      color: var(--color-white);
      text-decoration: none;
    }
  }
}

#hamburgermenu{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .bar{
    width: 100%;
    border: 1px solid var(--color-white);
    border-radius: 1px;
  }
}