/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
global
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.show-mobile {
  display: flex;
}
.show-desktop {
  display: none;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
element
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
header {
  width: calc(100% - var(--padding-mobile));
  height: 100%;
  padding: var(--padding-mobile);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  height: 100%;
  display: flex;
  align-items: center;
}
.hamburgermenu {
  height: 30px;
  width: 30px;
  align-items: center;
}
.hamburgerbar, .hamburgerbar::before, .hamburgerbar::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2.5px;
  background-color: var(--color-white);
  border-radius: 20px;
  transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
.hamburgerbar::before {
  top: -12px;
}
.hamburgerbar::after {
  top: 12px;
}
.transform--x{
  background: transparent;
  &::before, &::after{
    top: 0;
    background-color: var(--color-bg-green);
  }
  &::before{
    transform: rotate(-225deg);
  }
  &::after{
    transform: rotate(225deg);
  }
}
aside {
  background-color: var(--color-bg-inputs-transparency);
  height: calc(100dvh - 75px);
  width: 100dvw;

  position: fixed;
  top: 75px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  transform: translateX(calc(100dvw + 500px));
  transition: all 250ms ease-in-out;
}
.hamburgermenu__dropDownMenu--container {
  background-color: unset;
  border: unset;
  &:hover {
    a {
      color: var(--color-bg-green);
    }
    span {
      width: 50%;
      display: flex;
      border-bottom: var(--border-heigth) solid var(--color-bg-purple);
    }
  }
  a {
    font-size: 23px;
  }
}

.transform {
  transform: translateX(0px);
}

@media (width >= 850px) {
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  media width >= 850px, global
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  .show-mobile {
    display: none;
  }
  .show-desktop {
    display: flex;
  }
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  media width >= 850px, element
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  .menu__desktop {
    height: 100%;
    align-items: center;
    gap: 24px;
    a {
      font-size: 24px;
      &:hover {
        transition: ease-in 100ms;
        color: var(--color-bg-green) !important;
      }
    }
  }
}

@media (width >= 1100px) {
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  media width >= 1100px, element
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  .menu__desktop {
    gap: 64px;
    a {
      font-size: 32px;
    }
  }
}

@media(width >= 1920px){
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  media width >= 1920px, element
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  header{
    width: calc(1920px - var(--padding-single));
  }
}