<main>
  
  <div class="header">
    <a class="logo" href="#section-landing">Ma<span class="t">t<span class="t-bar"></span></span>h<span class="i">i<span class="i-bar"></span></span>a<span class="s">s</span></a>
  
    <div class="nav">

      <div id="hamburgermenu" class="link show-mobile">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>

      <div class="menu show-desktop">
        <a href="#about-me">About me</a>
        <a href="#skills">Skills</a>
        <a href="#portfolio">Portfolio</a>
      </div>

    </div>
  </div>

</main>
