<header>
  <a class="logo" href="#section-landing">
    Ma
    <span class="logo__t"
      >t
      <span class="logo__t--bar"></span>
    </span>
    h
    <span class="logo__i"
      >i
      <span class="logo__i--bar"></span>
    </span>
    a
    <span class="logo__s">s</span>
  </a>

  <div class="nav">
    <div id="hamburgermenu" (click)="menuToggle()" class="link show-mobile hamburgermenu">
      <!-- <span class="hamburgerbar"></span> -->
      <span id="hamburgerbar" class="hamburgerbar"></span>
      <!-- <span class="hamburgerbar"></span> -->
    </div>

    <div class="menu show-desktop">
      <a href="#about-me">About me</a>
      <a href="#skills">Skills</a>
      <a href="#portfolio">Portfolio</a>
    </div>
  </div>

  <div id="drop-down-menu" class="hamburgermenu__dropDownMenu">

    <button (click)="menuToggle()" class="hamburgermenu__dropDownMenu--container">
      <a  href="#about-me">About me</a>
      <span></span>
    </button>

    <button (click)="menuToggle()" class="hamburgermenu__dropDownMenu--container">
      <a href="#skills">Skills</a>
      <span></span>
    </button>

    <button (click)="menuToggle()" class="hamburgermenu__dropDownMenu--container">
      <a href="#portfolio">Portfolio</a>
      <span></span>
    </button>

    <button (click)="menuToggle()" class="hamburgermenu__dropDownMenu--container">
      <a href="#section-contact">Contact</a>
      <span></span>
    </button>

  </div>
</header>

