<header>
  <a class="logo" href="#section-landing">
    <span>Ma</span>
    <span class="logo__t"
      >t
      <span class="logo__t--bar"></span>
    </span>
    <span class="h">h</span>
    <span class="logo__i"
      >i
      <span class="logo__i--bar"></span>
    </span>
    <span class="a">a</span>
    <span class="logo__s">s</span>
  </a>

  <nav>
    <div id="hamburgermenu" (click)="menuToggle()" class="link show-mobile hamburgermenu">
      <span id="hamburgerbar" class="hamburgerbar"></span>
    </div>

    <div class="menu__desktop show-desktop">
      <a href="#section-about-me">About me</a>
      <a href="#section-skills">Skills</a>
      <a href="#section-portfolio">Portfolio</a>
    </div>
  </nav>

  <aside id="drop-down-menu">

    <button (click)="menuToggle()" class="hamburgermenu__dropDownMenu--container">
      <a  href="#section-about-me">About me</a>
      <span></span>
    </button>

    <button (click)="menuToggle()" class="hamburgermenu__dropDownMenu--container">
      <a href="#section-skills">Skills</a>
      <span></span>
    </button>

    <button (click)="menuToggle()" class="hamburgermenu__dropDownMenu--container">
      <a href="#section-portfolio">Portfolio</a>
      <span></span>
    </button>

    <button (click)="menuToggle()" class="hamburgermenu__dropDownMenu--container">
      <a href="#section-contact">Contact</a>
      <span></span>
    </button>

  </aside>
</header>

