/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
element
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.show-desktop {
  display: none;
}

section {
  border-top: none;
  display: flex;
  flex-direction: row;
  gap: var(--gap-mobile);
  .img__container--hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    img {
      cursor: pointer;
    }
    .img:hover {
      width: 40px;
    }
  }
}

@media (width >=850px) {
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  media width >= 850px, global
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  .show-mobile {
    display: none;
  }
  .show-desktop {
    display: flex;
  }
}
