<main>
  <div>
    <a class="logo" href="#section-landing">Ma<span class="t">t<span class="t-bar"></span></span>h<span class="i">i<span class="i-bar"></span></span>a<span class="s">s</span></a>
    <a class="show-desktop" href="">Impressum</a>
  </div>

  <span>&#169; Mathias Kohler 2023</span>

  <div class="socialmedia">
    <img class="link" src="assets/gitHub.png" alt="gitHub">
    <img class="link" src="assets/email.png" alt="email">
    <img class="link" src="assets/linkedIn.png" alt="linkedIn">
  </div>

  <a class="show-mobile">Impressum</a>

</main>
