<section>

  <div class="container-aboutMe">
    <h2>About Me</h2>
    <p>
      I'm a frontend developer based in Karlsruhe, Baden-Württemberg. The world of computer has
      always captivated me, and I'm constantly amazed by the possibilities they
      offer. Currently, I'm on a quest to channel my expertise in frontend
      development into a dynamic role within a company, where I can contribute to
      innovative projects and solutions.
    </p>
  </div>
  
  <div class="bulb">
    <img src="assets/bulb_green_small.png" alt="bulb">
    <p>
      As a self-taught computer enthusiast since childhood, I bring a fresh
      perspective to the field. My passion for computers, combined with a sharp
      design sense and meticulous attention to detail, fuels my commitment to
      crafting exceptional user experiences.
    </p>
  </div>
  
  <div class="puzzle">
    <img src="assets/puzzle_green_small.png" alt="puzzle">
    <p>
      Motivated by my enthusiasm and a strong dedication to precision, I'm excited
      to apply my distinct viewpoint and technical skills in a collaborative
      setting. With an unyielding drive for learning and growth, I look forward to
      contributing to pioneering projects and flourishing as a frontend developer.
      Let's embark on this innovation journey together!
    </p>
  </div>
</section>
