<main id="about-me">
  <div class="bg-shadow">
    <img class="bg-aboutMe" src="assets/backgrounds/Purple-shadow-1.png" alt="Purple shadow 1">
  </div>

    <article>
      
      <div class="aos-container" data-aos="zoom-in-right" data-aos-offset="150">
        <div class="profil-text">
          <div class="container-aboutMe">
            <h2>About Me</h2>
            <p>
              Hello, my name is Mathias Kohler. I am a frontend developer from Germany, Baden-Württemberg. I currently live in Karlsruhe. 
            </p>
          </div>
          
          <div class="bulb">
            <img src="assets/bulb_green_small.png" alt="bulb">
            <p>
            My curiosity to understand systems and structures ensures that I always look forward to new tasks with an open mind. 
          </p>
        </div>
        
        <div class="puzzle">
          <img src="assets/puzzle_green_small.png" alt="puzzle">
          <p>
            Traceability is important to me in my projects. For this reason, I attach great importance to information exchange and goal setting.
          </p>
        </div>
        </div>
      </div>
    
    <div class="profil-img show-desktop" data-aos="zoom-in-left" data-aos-offset="200">
      <span class="bar"></span>
      <div class="img-container">
        <img src="assets/photos/Profilbild-links-quadrat.png" alt="">
      </div>
    </div>
  </article>

</main>
