<div class="landing">
  <div class="container-photo">
    <img
      class="background-color"
      src="assets/backgrounds/photo shadows.png"
      alt="background color"
    />
    <img src="assets/photos/Profilbild_links-work.png" alt="Profile photo" />
    <img class="vector" src="assets/backgrounds/Vector_v1.png" alt="vector" />
  </div>

  <div class="info">
    <div class="welcome">
      <p class="vertical">I am</p>

      <div class="horizontal">
        <p class="info-name">Mathias Kohler</p>
        <p class="info-description">Frontend Developer</p>
      </div>
    </div>

    <div class="container-hover">
      <button class="btn-green">Let´s talk!</button>
    </div>
  </div>

  <div class="section-end">
    <span class="social-bar"></span>

    <div class="social">
      <img class="link" src="assets/gitHub.png" alt="gitHub" />
      <img class="link" src="assets/email.png" alt="email" />
      <img class="link" src="assets/linkedIn.png" alt="linkedIn" />
    </div>
  </div>
</div>
