main{
  position: relative;
  padding-top: 75px;
  padding-bottom: 16px;
  height: calc(100dvh - 75px - 16px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}

.container-content{
  position: absolute;
  top: 75px;
  height: calc(100% - 75px - 62px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container-photo{
  top: 0;
  position: relative;
  width: 100dvw;
  height: 40dvh;
  display: flex;
  justify-content: center;

  img{
    height: 100%;
    position: absolute;
  }
  .background-color{
    width: 100dvw;
    height: 100%;
    object-position: center;
  }
  .img-photo{
    object-fit: cover;
    height: 108%;
  }
  .vector{
    width: 100dvw;
    bottom: -130px;
  }
}

footer, article{
  z-index: 1;
}

article{
  padding: var(--padding-mobile);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  .welcome{
    display: flex;
    justify-content: center;
    align-items: center;

    p{
      margin: 0;
    }

    .vertical{
      font-size: 20px;
      transform: rotate(-90deg);
    }
    .horizontal{
      display: flex;
      flex-direction: column;
      .info-name{
        font-weight: bold;
        font-size: 24px;
      }
      .info-description{
        font-size: 20px;
        color: var(--color-bg-purple);
      }
    }
  }
  .container-btn-hover{
    display: flex;
    align-items: center;
    height: 60px;
    .btn-green{
      max-width: fit-content;
    }
  }
}

footer{
  position: absolute;
  bottom: 16px;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;
  .bar-socialmedia{
    position: absolute;
    width: 20dvw;
    border-top: 2px solid var(--color-bg-purple);
    left: 0;
  }
  .img-socialmedia{
    width: 100%;
    border-top: none;
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}