<main>

  <article>
    
    <div class="container-profil">

      <section class="profil">
        <img
          class="background-color"
          src="assets/backgrounds/photo shadows.png"
          alt="background color"
        />
        <img
          class="img-photo"
          src="assets/photos/Profilbild_links-work.png"
          alt="Profile photo"
        />
      </section>
      <img class="vector" src="assets/backgrounds/Vector_v1.png" alt="vector" />

    </div>

    <section class="introduction">
      <div class="introduction-btn">

        <figure>
          <p class="text-vertical">I am</p>
          <div class="container-horizontal">
            <p class="name">Mathias Kohler</p>
            <p class="job">Frontend Developer</p>
          </div>
        </figure>
    
        <div class="container-btn-hover">
          <a href="#section-contact">
            <button class="btn btn-green">Let´s talk!</button>
          </a>
        </div>

      </div>
    </section>

  </article>

  <footer>
    <div class="footer-bar-img">
      <span class="bar-socialmedia"></span>
  
      <div class="container-img">
        <img class="img" src="assets/gitHub.png" alt="gitHub" />
        <img class="img" src="assets/email.png" alt="email" />
        <img class="img" src="assets/linkedIn.png" alt="linkedIn" />
      </div>
    </div>
  </footer>
</main>
