main{
  position: relative;
  height: calc(100dvh - 75px);
  width: 100dvw;
}
article{
  top: 75px;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profil{
  overflow: hidden;
  min-height: 50%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    position: absolute;
    width: 100%;
  }
}
.introduction{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}
figure{
  display: flex;
  .text-vertical{
    text-align: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
  .name{
    font-weight: bold;
    margin-bottom: -5px;
  }
  .job{
    color: var(--color-bg-purple);
    text-transform: uppercase;
  }
}