<main id="section-landing">

  <div class="container-content">
    
    <div class="container-photo">
      <div class="container-profile">
        <img
          class="background-color"
          src="assets/backgrounds/photo shadows.png"
          alt="background color"
        />
        <img class="img-photo" src="assets/photos/Profilbild_links-work.png" alt="Profile photo" />
      </div>
      <img class="vector" src="assets/backgrounds/Vector_v1.png" alt="vector" />
    </div>
  
    <article>
      <div class="welcome">
        <p class="vertical">I am</p>
  
        <div class="horizontal">
          <h2 class="info-name">Mathias Kohler</h2>
          <p class="info-description">Frontend Developer</p>
        </div>
      </div>
  
      <div class="container-btn-hover">
        <a href="#section-contact">
          <button class="btn btn-green">Let´s talk!</button>
        </a>
      </div>
    </article>

  </div>

  <footer>
    <span class="bar-socialmedia"></span>

    <div class="img-socialmedia">
      <img class="link" src="assets/gitHub.png" alt="gitHub" />
      <img class="link" src="assets/email.png" alt="email" />
      <img class="link" src="assets/linkedIn.png" alt="linkedIn" />
    </div>
  </footer>
</main>
