main{
  margin-top: var(--margin-section-mobile);
  display: flex;
  flex-direction: column;
  gap: var(--gap-mobile);

  img{
    width: calc(100dvw - 20%);
    object-fit: cover;
  }
  article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-mobile);
    h3{
      margin: unset;
      color: var(--color-bg-purple);
      font-size: 32px;
    }
    .subheadline{
      margin: unset;
      color: var(--color-bg-green);
      font-size: var(--font-size-subheadline-mobile);
    }
    p{
      text-align: center;
    }
    .container-btn-hover{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media(width >= 850px){
  main{
    flex-direction: row-reverse;
    img{
      width: 45dvw;
      object-fit: contain;
    }
    article{
      width: 45dvw;
      align-items: flex-end;

      p{
        text-align: end;
      }
    }
  }
}