<main data-aos="zoom-in-left" data-aos-offset="150">
  <img src="assets/projects/join-devices.png" alt="">

  <article>
    <h3>Join</h3>
    <p class="subheadline">JavaScript | HTML | CSS</p>
    <p>
      Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. 
    </p>

    <div class="container-btn-hover">
      <a href="https://mathias-kohler.developerakademie.net/Join-Mathias_Kohler/index.html" target="_blank">
        <button class="btn btn-purple">Live test</button>
      </a>

      <a href="https://github.com/Zwogli/Join-Mathias_Kohler" target="_blank">
        <button class="btn btn-border">Github</button>
      </a>
    </div>
  </article>
</main>
