<main data-aos="zoom-in-right" data-aos-offset="150">
    <img src="assets/projects/el-pollo-loco/epl-devices.png" alt="" />
  
    <article>
      <h3>El Pollo Loco</h3>
      <p class="subheadline">JavaScript | HTML | CSS</p>
      <p>
        A simple Jump-and-Run game based on an object-oriented approach. Help Pepe
        to find coins and bottles to fight against the killer chicken.
      </p>
  
      <div class="container__btn--hover">
        <a
          href="https://mathias-kohler.de/El-Pollo_Loco/index.html"
          target="_blank"
        >
          <button class="btn btn--purple">Live test</button>
        </a>
  
        <a href="https://github.com/Zwogli/El-Pollo-Loco" target="_blank">
          <button class="btn btn__border--green">Github</button>
        </a>
      </div>
    </article>
  </main>
  