<main data-aos="zoom-in-right" data-aos-offset="150">
  <img src="assets/projects/videoflix/devices-videoflix_v2.png" alt="" />

  <article>
    <h3>Videoflix</h3>
    <p class="subheadline">Django | Angular | Google Cloud VM</p>
    <p>
      Videoflix is a full-stack Netflix clone that allows users to register,
      verify their account, and watch global videos. Logged-in users can upload
      their own videos, which are processed and stored efficiently. The backend,
      built with Python and Django, handles authentication, video processing,
      and database management, while the frontend, developed in Angular,
      provides a smooth and responsive user experience.
    </p>

    <div class="container__btn--hover">
      <a href="https://videoflix.mathias-kohler.de/" target="_blank">
        <button class="btn btn--purple">Live test</button>
      </a>

      <a href="https://github.com/Zwogli/videoflix-backend" target="_blank">
        <button class="btn btn__border--green">Github</button>
      </a>
    </div>
  </article>
</main>
