<main data-aos="zoom-in-right" data-aos-offset="150">
  <img src="assets/projects/videoflix/devices-videoflix.png" alt="" />

  <article>
    <h3>Videoflix</h3>
    <p class="subheadline">Django | Angular | Google Cloud VM</p>
    <p>
      Videoflix is a backend for a Netflix clone that offers full registration,
      validation and verification. Users can watch global videos and upload
      their own videos to their account. Python and Django were used for the
      implementation.
    </p>

    <div class="container__btn--hover">
      <a href="https://videoflix.mathias-kohler.de/" target="_blank">
        <button class="btn btn--purple">Live test</button>
      </a>

      <a href="https://github.com/Zwogli/videoflix-backend" target="_blank">
        <button class="btn btn__border--green">Github</button>
      </a>
    </div>
  </article>
</main>
