<main data-aos="zoom-in-right" data-aos-offset="150">
  <img src="assets/projects/pokedex-devices.png" alt="" />

  <article>
    <h3>Pokedex</h3>
    <p class="subheadline">JavaScript | HTML | CSS | Rest-Api</p>
    <p>
      Pokedex is a simple library built using the PokéAPI that provides and
      catalogs Pokémon information. It allows users to search, view, and explore
      various Pokémon, displaying essential details such as stats, abilities,
      and types. This project demonstrates how to interact with an external API
      to fetch and display dynamic data.
    </p>

    <div class="container__btn--hover">
      <a href="https://mathias-kohler.de/pokedex/index.html" target="_blank">
        <button class="btn btn--purple">Live test</button>
      </a>

      <a href="https://github.com/Zwogli/Pokedex" target="_blank">
        <button class="btn btn__border--green">Github</button>
      </a>
    </div>
  </article>
</main>
