<main data-aos="zoom-in-left" data-aos-offset="150">
  <img src="assets/projects/join/join-devices.png" alt="" />

  <article>
    <h3>Join</h3>
    <p class="subheadline">JavaScript | HTML | CSS</p>
    <p>
      Join is a task manager inspired by the Kanban system. Users can easily
      create, organize, and manage tasks using an intuitive drag-and-drop
      interface. Tasks can be assigned to different users and categorized for
      better organization and clarity. This project focuses on improving team
      productivity through an interactive, user-friendly approach to task
      management.
    </p>

    <div class="container__btn--hover">
      <a href="https://mathias-kohler.de/join/index.html" target="_blank">
        <button class="btn btn--purple">Live test</button>
      </a>

      <a href="https://github.com/Zwogli/Join-Mathias_Kohler" target="_blank">
        <button class="btn btn__border--green">Github</button>
      </a>
    </div>
  </article>
</main>
