<div class="background__shadow">
  <img src="assets/backgrounds/Purple-shadow-1.png" alt="Purple shadow 1" />
</div>

<main>
  <article class="aos-container" data-aos="zoom-in-right" data-aos-offset="150">
    <div class="character--intro">
      <h2>About Me</h2>
      <p>
        Hi, and welcome to my portfolio! I'm Mathias Kohler, a Full-Stack
        Developer from Baden-Württemberg, Germany. While working full-time, I
        dedicated myself to learning web development through various practical
        projects. My journey started with small solo projects and evolved into
        larger group collaborations. Along the way, I had the opportunity to
        work alongside experienced senior developers who provided valuable
        feedback and inspiration, helping me refine my skills.
      </p>
    </div>

    <div class="character--bulb">
      <img src="assets/bulb_green_small.png" alt="bulb" />
      <div>
        <h3>Curiosity & Problem-Solving</h3>
        <p>
          My curiosity drives me to understand systems and structures in depth,
          allowing me to approach new challenges with an open and analytical
          mindset.
        </p>
      </div>
    </div>

    <div class="character--puzzle">
      <img src="assets/speechbubble.png" alt="puzzle" />
      <div>
        <h3>Clarity & Collaboration</h3>
        <p>
          I believe that well-structured workflows and open communication are key to successful projects. By sharing knowledge and setting clear goals, I ensure that teamwork is both efficient and results-driven.
        </p>
      </div>
    </div>
  </article>

  <aside
    class="container__profil show-desktop"
    data-aos="zoom-in-left"
    data-aos-offset="200"
  >
    <span class="container__profil--bar"></span>
    <div class="container__profil--img">
      <!-- <img class="container__profil--img--v1" src="assets/photos/Profilbild-links-quadrat.png" alt="" /> -->
      <img
        class="container__profil--img--v2"
        src="assets/photos/Deskwork.png"
        alt=""
      />
      <!-- <img class="container__profil--img--v3" src="assets/photos/Profile.png" alt="" /> -->
    </div>
  </aside>
</main>
