<main data-aos="zoom-in-right" data-aos-offset="150">
  <img src="assets/projects/el-pollo-loco/epl-devices.png" alt="" />

  <article>
    <h3>El Pollo Loco</h3>
    <p class="subheadline">JavaScript | HTML | CSS</p>
    <p>
      El Pollo Loco is a classic Jump-and-Run game built with an object-oriented
      approach. The player controls Pepe, a brave hero on a mission to collect
      coins and bottles in order to defeat the evil chicken. The game
      incorporates basic game mechanics, such as jumping, collecting items, and
      avoiding obstacles, offering an engaging experience while demonstrating
      object-oriented principles in game development.
    </p>

    <div class="container__btn--hover">
      <a
        href="https://mathias-kohler.de/El-Pollo_Loco/index.html"
        target="_blank"
      >
        <button class="btn btn--purple">Live test</button>
      </a>

      <a href="https://github.com/Zwogli/El-Pollo-Loco" target="_blank">
        <button class="btn btn__border--green">Github</button>
      </a>
    </div>
  </article>
</main>
