<section>
  <div>
    <div class="headline-contact">
      <span class="contact-bar"></span>
      <h2>Contact</h2>
    </div>

    <div>
      <h3>Got a problem to solve?</h3>
      <p>
        Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.
      </p>
      <p>Need a Frontend developer? <span class="contact-me">Contact me!</span></p>
    </div>
  </div>

  <form action="">
    <input type="text" placeholder="Your name" required>
    <input type="email" placeholder="Your email" required>
    <textarea name="" id="" cols="30" rows="15" placeholder="Your message" required></textarea>
    <button class="btn-green">Send message</button>
  </form>

</section>