/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
element
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
main{
  display: flex;
  flex-direction: column;
  gap: var(--gap-mobile);
  position: relative;
  z-index: 2;
}
header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  span{
    width: calc(10% - 8px);
    border-top: var(--border-heigth) solid var(--color-bg-purple);
    left: 0px;
  }
  h2{
    text-align: start;
  }
}
.info{
  padding: var(--padding-mobile);

  h3{
    margin: 0 0 var(--gap-mobile) 0;
  }
  p:last-of-type{
    margin: 8px 0;
    .contact-me{
      font-weight: bold;
    }
  }
}
article{
  display: flex;
  flex-direction: column;
  gap: var(--gap-mobile);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--color-white);
  -webkit-box-shadow: 0 0 0px 1000px var(--color-bg-inputs) inset;
  transition: background-color 5000s ease-in-out 0s;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
form
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
form{
  margin: unset;
  padding: var(--padding-mobile);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;

  div{
    width: 100%;
    padding-bottom: 41px;
  }

  label{
    margin-bottom: -25px;
    width: 100%;
    color: var(--color-bg-red);
  }
  input, textarea, input::placeholder,textarea::placeholder{
    color: var(--color-white);
    font-family: poppins;
  }
  input, textarea{
    width: calc(100% - 40px - 2px);
    border: 1px solid var(--color-bg-purple);
    border-radius: 10px;
    background-color: var(--color-bg-inputs);
    font-size: var(--font-size-text);
  }
  input{
    position: relative;
    padding: 0 20px;
    height: 40px;
  }
  textarea{
    padding: 20px;
    max-width: 100%;
    resize: none;
  }
  input:focus, textarea:focus, input:hover, textarea:hover{
    outline: none !important;
    border:1px solid var(--color-bg-green);
  }
}
.missedInput{
  border: 1px solid var(--color-bg-red)!important;
  background: url(../../assets/missed.png) no-repeat;
  background-position: calc(100% - 20px);
}
.missedInput-message{
  border: 1px solid var(--color-bg-red)!important;
  background: url(../../assets/missed.png) no-repeat;
  background-position: calc(100% - 20px) 20px;
}
.filledInput{
  border: 1px solid var(--color-bg-green)!important;
  background: url(../../assets/filled.png) no-repeat;
  background-position: calc(100% - 20px);
}
.filledInput-message{
  border: 1px solid var(--color-bg-green)!important;
  background: url(../../assets/filled.png) no-repeat;
  background-position: calc(100% - 20px) 20px;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
other
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.goUp{
  width: calc(100dvw - 20%);
  margin-top: -24px;
  padding: 25px 10%;
  display: flex;
  justify-content: flex-end;
  .goUp--img:hover{
    content: url("/assets/goUp_green.png");
  }
}

.center{
  justify-content: center;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
background
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.background__shadow--top{
  margin-top: -250px;
  position: absolute;
  right: 0;
  z-index: 0;
  overflow: hidden;
  img{
    height: 412px;
    margin-right: -223px;
    object-fit: cover;
    opacity: 0.8;
    transform: rotate(80deg) scaleY(1);
  }
}
.background__shadow--bottom{
  margin-top: -250px;
  position: absolute;
  left: 0;
  z-index: 1;
  overflow: hidden;
  width: 50%;
  img{
    height: 380px;
    margin-left: -211px;
    object-fit: cover;
    opacity: 0.8;
    transform: rotate(-96deg) scaleY(1);
  }
}

@media(width >= 850px){
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  media width >= 850px, element
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  header{
    gap: 32px;
  }
  article{
    display: flex;
    flex-direction: row;
    gap: 5%;
    .info{
      width: 40%;
      padding-left: calc(10% + 32px);
      padding-right: unset;
    }
    form{
      width: 50%;
      padding-left: unset;
    }
  }
  .goUp{
    padding: 50px 10%;
  }
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  media width >= 850px, background
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  .background__shadow--top{
    margin-top: -390px;
    img{
      height: 520px;
    }
  }
  .background__shadow--bottom{
    margin-top: -500px;
    img{
      height: 750px;
      margin-left: -315px;
    }
  }
}