<main>
  <div class="background__shadow--top">
    <img
      src="assets/backgrounds/Green-shadow-3-skill-portfolio.png"
      alt="green shadow 1"
    />
  </div>

  <div data-aos="zoom-in-up" data-aos-offset="200">
    <header>
      <span></span>
      <h2>Contact</h2>
    </header>

    <article>
      <div class="info">
        <h3>Got a problem to solve?</h3>
        <p>
          Contact me through this form, I am interested in hearing you, knowing
          your ideas and contributing to your projects with my work.
        </p>
        <p>
          Need a Frontend developer? <span class="contact-me">Contact me!</span>
        </p>
      </div>
      <div class="section__form">
        <form #contactForm (submit)="sendMail()" ngNativeValidate>
          <!--autocomplete="off"-->

          <div class="lable-container">
            <input
              id="input-name"
              name="name"
              #nameField
              type="text"
              placeholder="Your name"
            />

            <label
              for="input-name"
              class="lable__image"
            >
              <img id="lable__name--img-filled" style="display: none" src="../../assets/filled.png" alt="" />
              <img id="lable__name--img-missed" style="display: none" src="../../assets/missed.png" alt="" />
            </label>

            <label
              #labelNameTextMissed
              id="lable__text--name-missed"
              style="display: none"
              for="input-name"
            >
              Your name is required
            </label>
          </div>

          <div class="lable-container">
            <input
              id="input-email"
              name="email"
              #emailField
              type="email"
              placeholder="Your email"
            />

            <label
              for="input-email"
              class="lable__image"
            >
              <img id="lable__email--img-filled" style="display: none" src="../../assets/filled.png" alt="" />
              <img id="lable__email--img-missed" style="display: none" src="../../assets/missed.png" alt="" />
            </label>

            <label
              id="lable__text--email-missed"
              style="display: none"
              for="input-email"
            >
              Your email is required
            </label>
          </div>

          <div class="lable-container">
            <textarea
              id="input-message"
              name="message"
              #messageField
              cols="30"
              rows="15"
              placeholder="Your message"
            ></textarea>

            <label
              for="input-message"
              class="lable__image"
            >
              <img id="lable__message--img-filled" style="display: none" src="../../assets/filled.png" alt="" />
              <img id="lable__message--img-missed" style="display: none" src="../../assets/missed.png" alt="" />
            </label>

            <label
              id="lable__text--message-missed"
              style="display: none"
              for="input-message"
            >
              Your message is empty
            </label>
          </div>

          <div class="container__btn--hover center">
            <button #sendButton class="btn btn--green">Send message</button>
          </div>

        </form>
        <div id="form__overlay" class="form__overlay hide-show">
          <h3>Message send</h3>
          <div class="container__btn--hover center">
            <button (click)="newForm()" class="btn btn--green">
              New message
            </button>
          </div>
        </div>
      </div>
    </article>

    <div class="goUp">
      <a href="#section-landing">
        <img class="goUp--img" src="assets/goUp_white.png" alt="go Up" />
      </a>
    </div>
  </div>
</main>

<div class="background__shadow--bottom">
  <img
    src="assets/backgrounds/Purple-shadow-footer-v1-portfolio.png"
    alt="Purple shadow 1"
  />
</div>
