<section>
  <div class="section-intro">
    <div class="headline-skills">
      <span class="skill-bar"></span>
      <h2>My skills</h2>
    </div>
    <p>
      I have gained experience in building projects with various front end
      technologies and concepts.
    </p>
  </div>

  <div class="container-skills">
    
    <div *ngFor="let skill of skills"  class="skills">
      <div><img src="{{ skill.img }}" alt=""></div>
      <span>{{ skill.name }}</span>
    </div>
    
  </div> 

  <div class="container-btn-hover">
      <button class="btn btn-green">Let´s talk!</button>
  </div>
</section>
