/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
element
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
p {
  margin-top: unset;
  text-align: end;
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-mobile);

  p {
    padding: var(--padding-mobile);
  }

  .headline {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 8px;

    span {
      width: calc(10% - 8px);
      border-top: var(--border-heigth) solid var(--color-bg-purple);
      right: 0;
    }
    h2 {
      text-align: end;
    }
  }
}
main {
  padding: var(--padding-mobile);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  .skill__container {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    &:hover {
      color: var(--color-bg-green);
      .skill__container--hover {
        img {
          animation: jump 400ms;
        }
      }
    }

    span:hover {
      transform: scale(unset);
    }

    .skill__container--hover {
      width: 100%;
      aspect-ratio: 1/1;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        position: absolute;
        width: 40px;
        aspect-ratio: 1/1;
      }
    }
  }
  .icons_mobile {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.hide-mobile {
  display: none;
}
.container__btn--hover {
  margin: 16px 0;
}

@media (width >= 850px) {
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  media width >= 850px, element
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  header {
    width: 45%;

    .headline {
      gap: 32px;
      
      span {
        width: calc(10dvw);
      }
    }

    p {
      padding: 0 calc(10dvw + 32px) 0 0;
    }
  }
  main {
    width: 45%;
    padding: 0 0 0 10%;
    gap: 32px;
    .skill__container {
      .skill__container--hover {
        img {
          width: 60px;
        }
      }
    }
  }

  .hide-desktop {
    display: none;
  }
  .hide-mobile {
    display: flex;
  }
  .container__btn--hover {
    justify-content: center;
  }
}

@keyframes jump {
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  keyframe
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  0% {
    transition: ease-in-out;
    transform: scale(1.2);
  }
  25% {
    transition: ease-in-out;
    transform: scale(0.8);
  }
  50% {
    transition: ease-in-out;
    transform: scale(1.1);
  }
  75% {
    transition: ease-in-out;
    transform: scale(0.9);
  }
  100% {
    transition: ease-in-out;
    transform: scale(1);
  }
}
