<main id="portfolio">

  <div class="bg-shadow">
    <img class="bg-aboutMe" src="assets/backgrounds/Green-shadow-3-skill-portfolio.png" alt="Purple shadow 1">
  </div>

  <div>
    <div class="headline-portfolio">
      <span class="portfolio-bar"></span>
      <h2>Portfolio</h2>
    </div>
  
    <p>This page is a sample of my work - please feel free to try them out.</p>
  </div>

  <article>
    <app-project-el-pollo-loco></app-project-el-pollo-loco>
    <app-project-join></app-project-join>
  </article>
</main>
