<div class="background__shadow">
  <img
    src="assets/backgrounds/Green-shadow-3-skill-portfolio.png"
    alt="Purple shadow 1"
  />
</div>

<div data-aos="zoom-in-up" data-aos-offset="150">
  <header>
    <div class="headline">
      <span></span>
      <h2>Portfolio</h2>
    </div>

    <p>This page is a sample of my work - please feel free to try them out.</p>
  </header>

  <article>
    <app-project-dabubble></app-project-dabubble>
    <app-project-el-pollo-loco></app-project-el-pollo-loco>
    <app-project-join></app-project-join>
    <!-- <app-project-pokedex></app-project-pokedex> -->
  </article>
</div>
