<main data-aos="zoom-in-right" data-aos-offset="150">
  <img src="assets/projects/pokedex-devices.png" alt="">

  <article>
    <h3>Pokedex</h3>
    <p class="subheadline">JavaScript | HTML | CSS | Rest-Api</p>
    <p>
      Based on the PokéAPI a simple library that provides and catalogues pokemon information.
    </p>

    <div class="container__btn--hover">
      <a href="https://mathias-kohler.developerakademie.net/Pokedex/index.html" target="_blank">
        <button class="btn btn--purple">Live test</button>
      </a>

      <a href="https://github.com/Zwogli/Pokedex" target="_blank">
        <button class="btn btn__border--green">Github</button>
      </a>
    </div>
  </article>
</main>