/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
element
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
main {
  height: calc(100% - 72px - 75px);
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profil {
  height: 60%;
  width: 100%;
  display: flex;
  &__vector {
    height: 50%;
    width: 100dvw;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
  }
}

.profil__container {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    position: absolute;
  }
  &--background {
    top: -10px;
    height: 150%;
  }
  &--img {
    height: 100%;
    object-fit: cover;
  }
}

.introduction {
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  flex-direction: column;
  .container__btn--hover {
    justify-content: center;
  }
}
figure {
  margin: unset;
  display: flex;
  .text--vertical {
    font-size: 21px;
    text-align: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
  .text--horizontal-name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: -10px;
  }
  .text--horizontal-job {
    color: var(--color-bg-purple);
    font-size: 21px;
    text-transform: uppercase;
  }
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 5;
  display: flex;
  padding: 16px 0;
  align-items: center;
  justify-content: center;

  .container__socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    .container__socialmedia--hover {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      img {
        cursor: pointer;
      }
      img:hover {
        width: 40px;
      }
    }
  }
  .bar__socialmedia {
    position: absolute;
    left: 0;
    width: 10dvw;
    border-top: var(--border-heigth) solid var(--color-bg-purple);
  }
  .show-tablat {
    display: none;
  }
  .container__scroll--anchor {
    display: none;
  }
}

@media (width >= 550px) {
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  media width >= 500px, element
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  footer {
    justify-content: flex-start;
    gap: 32px;

    .container__socialmedia {
      padding-left: calc(10dvw + 32px);
    }
    .show-tablat {
      display: flex;
    }
  }
}

@media (height >= 600px) {
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  media width >= 600px, element
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  .introduction {
    gap: 16px;
  }
}

@media (width >=850px) {
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  media width >= 850px, element
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  main {
    flex-direction: row;
  }
  .profil,
  .introduction {
    width: 50%;
    height: 80%;
  }
  .profil {
    &__vector {
      top: 69%;
    }
  }
  .profil__container {
    overflow: visible;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &--background {
      width: 110%;
      height: 110%;
      top: 0px;
      left: 0px;
    }
    &--img {
      left: 20%;
    }

    img {
      position: absolute;
    }
  }

  .introduction {
    gap: 32px;
  }

  figure {
    .text--vertical {
      font-size: 27px;
    }
    .text--horizontal-name {
      font-size: 40px;
      margin-bottom: -15px;
    }
    .text--horizontal-job {
      font-size: 29px;
    }
  }
  footer {
    padding: 32px 0;
    .container__socialmedia {
      gap: 32px;
    }
    .container__scroll {
      width: 30px;
      height: 130px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 32px;
      right: 10%;
      animation: test 2s infinite, rotate 1s infinite;
      .container__scroll--anchor {
        display: flex;
        writing-mode: vertical-rl;
        white-space: nowrap;

        &:hover {
          color: var(--color-bg-green);
          font-size: 20px;
        }
      }
    }
  }
}

@keyframes test {
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  keyframes
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  0% {
    transform: translate(0) scale(1);
  }
  50% {
    transform: translateY(-20px) scale(1.05);
  }
  100% {
    transform: translate(0) scale(1);
  }
}

@media (width >=1200px) {
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  media width >= 1200px, element
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  figure {
    .text--vertical {
      font-size: 40px;
    }
    .text--horizontal-name {
      font-size: 60px;
      margin-bottom: -25px;
    }
    .text--horizontal-job {
      font-size: 43px;
    }
  }
}
