<main>
  <section class="profil">
    <div class="profil__container">
      <img
        class="profil__container--background"
        src="assets/backgrounds/photo shadows.png"
        alt="background color"
      />
      <img
        class="profil__container--img"
        src="assets/photos/Profilbild_links-work.png"
        alt="Profile photo"
      />
    </div>
    <img
      class="profil__vector"
      src="assets/backgrounds/Vector_v1.png"
      alt="vector"
    />
  </section>

  <section class="introduction">
    <figure>
      <p class="text--vertical">I am</p>
      <div>
        <p class="text--horizontal-name">Mathias Kohler</p>
        <p class="text--horizontal-job">Fullstack Developer</p>
      </div>
    </figure>

    <div class="container__btn--hover">
      <a href="#section-contact">
        <button class="btn btn--green">Let´s talk!</button>
      </a>
    </div>
  </section>
</main>

<footer>
  <span class="bar__socialmedia"></span>

  <div class="container__socialmedia">
    <div class="container__socialmedia--hover">
      <img
        (click)="location('https://github.com/Zwogli')"
        src="assets/gitHub.png"
        alt="gitHub"
      />
    </div>

    <div class="container__socialmedia--hover">
      <img
        (click)="location('#section-contact')"
        src="assets/email.png"
        alt="email"
      />
    </div>

    <div class="container__socialmedia--hover">
      <img
        (click)="
          location('https://www.linkedin.com/in/mathias-kohler-0531a6231/')
        "
        src="assets/linkedIn.png"
        alt="linkedIn"
      />
    </div>
  </div>

  <a class="show-tablat" href="#section-contact">portfolio@mathias-kohler.de</a>

  <div class="container__scroll">
    <a class="container__scroll--anchor" href="#section-about-me"
      >Scroll down &#x279C;</a
    >
  </div>
</footer>
