:root {
  --color-white: white;
  --color-bg-darkBlue: #141d2f;
  --color-bg-darkBlue-transparency: rgba(20, 29, 47, 0.8);
  --color-bg-purple: #9747ff;
  --color-bg-green: #70e61c;
  --color-bg-inputs: #1b2740;
  
  --margin-section-mobile: 64px;
  --margin-section-desktop: 128px;

  --scroll-margin-mobile: 120px;
  --scroll-margin-desktop: 160px;
  
  --padding-mobile: 0 10%;
  
  --border-heigth: 4px;
  --gap-mobile: 24px;

  --font-size-logo: 30px;
  --font-size-subheadline-mobile: 23px;
  --font-size-text: 16px;
  --font-size-btn-text-desktop: 23px;

  --font-size-h2-tablat: 40px;
  --font-size-h3-tablat: 32px;
  --font-size-h2-desktop: 90px;
  --font-size-h3-desktop: 50px;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
Tags
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
html {
  scroll-behavior: smooth;
}
html,
body, h2, p {
  margin: 0;
}

body {
  background-color: var(--color-bg-darkBlue);
  color: var(--color-white);
  font-family: "Poppins", sans-serif;
}

a {
  color: var(--color-white);
  text-decoration: none;
  cursor: pointer;
}
h2{
  font-size: 45px;
}
h3{
  font-size: 23px;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
Btn
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.container__btn--hover{
  height: 70px;
  display: flex;
  align-items: center;
}
.btn{
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  &:hover{
    cursor: pointer;
    padding: 20px 40px;
  }
}
.btn--green, .btn--purple, .btn__border--green{
  color: var(--color-white);
}
.btn--green {
  background-color: var(--color-bg-green);
  border: none;
  &:hover {
    background-color: var(--color-bg-purple);
  }
}
.btn--purple, .btn__border--green{
  padding: 15px 20px;
  &:hover{
    padding: 20px 35px;
    background-color: var(--color-bg-green);
    border: unset;
  }
}
.btn--purple{
  background-color: var(--color-bg-purple);
  border: unset;
}
.btn__border--green{
  background-color: unset;
  border: 1px solid var(--color-bg-green);
}

.btn--purple:active, .btn__border--green:active, .btn--green:active{
  background-color: var(--color-white);
  color: var(--color-bg-purple);
  border: unset;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
Other
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.link {
  cursor: pointer;
}
.s{
  color: var(--color-bg-green);
}

@media(width >= 400px){
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  Media width >= 400px, Btn
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  .btn--purple, .btn__border--green{
    padding: 15px 30px;
    &:hover{
      padding: 20px 40px;
    }
  }
}

@media(width >= 900px){
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  Media width >= 900px, Tags
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  h2{
    font-size: 60px;
  }
  h3{
    font-size: 32px;
  }
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  Media width >= 900px, Btn
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  .container__btn--hover{
    .btn{
      font-size: 23px;
    }
  }
}
