:root {
  --color-white: white;
  --color-bg-darkBlue: #141d2f;
  --color-bg-darkBlue-transparency: rgba(20, 29, 47, 0.8);
  --color-bg-purple: #9747ff;
  --color-bg-green: #70e61c;
  --color-bg-inputs: #1b2740;
  --color-bg-red: rgba(230, 28, 64, 1);
  --color-bg-inputs-transparency: rgba(27,39,64, 0.8);
  
  --margin-section-mobile: 64px;
  --margin-section-desktop: 128px;

  --scroll-margin-mobile: 120px;
  --scroll-margin-desktop: 160px;
  
  --padding-mobile: 0 10%;
  
  --border-heigth: 4px;
  --gap-mobile: 24px;

  --font-size-logo: 30px;
  --font-size-subheadline-mobile: 23px;
  --font-size-text: 16px;
  --font-size-btn-text-desktop: 23px;

  --font-size-h2-tablat: 40px;
  --font-size-h3-tablat: 32px;
  --font-size-h2-desktop: 90px;
  --font-size-h3-desktop: 50px;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
element tag
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
html {
  scroll-behavior: smooth;
}
html,
body, h2, p {
  margin: 0;
}
html, body{
  width: 100%;
  overflow-x: hidden;
}
body {
  background-color: var(--color-bg-darkBlue);
  color: var(--color-white);
  font-family: "Poppins", sans-serif;
}

a {
  color: var(--color-white);
  text-decoration: none;
  cursor: pointer;
}
h2{
  font-size: 45px;
}
h3{
  font-size: 23px;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
element btn
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.container__btn--hover{
  height: 70px;
  display: flex;
  align-items: center;
}
.btn{
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  &:hover{
    cursor: pointer;
    padding: 20px 40px;
  }
}
.btn--green, .btn--purple, .btn__border--green{
  color: var(--color-white);
}
.btn--green {
  background-color: var(--color-bg-green);
  border: none;
  &:hover {
    background-color: var(--color-bg-purple);
  }
}
.btn--purple, .btn__border--green{
  padding: 15px 20px;
  &:hover{
    padding: 20px 35px;
    background-color: var(--color-bg-green);
    border: unset;
  }
}
.btn--purple{
  background-color: var(--color-bg-purple);
  border: unset;
}
.btn__border--green{
  background-color: unset;
  border: 1px solid var(--color-bg-green);
}

.btn--purple:active, .btn__border--green:active, .btn--green:active{
  background-color: var(--color-white);
  color: var(--color-bg-purple);
  border: unset;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
element logo
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.logo {
  font-size: var(--font-size-logo);
  font-weight: bold;
  color: var(--color-white);
  text-decoration: none;
  & .h, .a{
    margin-left: -6px;
  }
}
.logo__t {
  // margin: 0 -5px;
  color: var(--color-white);
  position: relative;
  &--bar {
    width: 6px;
    color: var(--color-bg-green);
    position: absolute;
    border: 3px solid;
    top: 15px;
    left: 0px;
  }
}
.logo__i {
  // margin: 0 -5px;
  color: var(--color-white);
  position: relative;
  &--bar {
    color: var(--color-bg-purple);
    position: absolute;
    border: 4px solid;
    border-radius: 50%;
    top: 6px;
    left: 0px;
  }
}
.logo__s{
  color: var(--color-bg-green);
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
other
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.link {
  cursor: pointer;
}
.stopScrollY{
  overflow-y: hidden;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
other scrollbar
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--color-bg-green);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-bg-purple);
  border-radius: 10px;
}

@media(width >= 400px){
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  media width >= 400px, element btn
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  .btn--purple, .btn__border--green{
    padding: 15px 30px;
    &:hover{
      padding: 20px 40px;
    }
  }
}

@media(width >= 900px){
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  media width >= 900px, element tags
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  h2{
    font-size: 60px;
  }
  h3{
    font-size: 32px;
  }
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  media width >= 900px, element btn
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  .container__btn--hover{
    .btn{
      font-size: 23px;
    }
  }
   /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  media width >= 900px, element logo
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  .logo {
    font-size: 60px;
    & .h, .a{
      margin-left: -11px;
    }
  }
  .logo__i--bar {
    border: 8px solid;
    top: 11px;
    left: 1px;  }
  .logo__t--bar {
    width: 14px;
    border: 5px solid;
    top: 29px;
  }
}

@media(width >= 1920px){
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  media width >= 1920px
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-inputs);
  }
  .max-1920{
    position: relative;
    width: 1920px;
    overflow-x: hidden;
    background-color: var(--color-bg-darkBlue);
  }
}
