<main data-aos="zoom-in-left" data-aos-offset="150">
  <img src="assets/projects/dabubble/dabubble-devices_v2.png" alt="" />

  <article>
    <h3>Da-Bubble</h3>
    <p class="subheadline">Angular | Typescript | Firebase</p>
    <p>
      DA-Bubble is a team communication platform designed for seamless
      collaboration. Users can join chat rooms for group discussions or engage
      in private one-on-one chats with colleagues. The app leverages Firebase
      for real-time messaging, ensuring instant communication and efficient data
      synchronization. Built with Angular and TypeScript, DA-Bubble provides a
      modern, intuitive interface for easy team communication.
    </p>

    <div class="container__btn--hover">
      <a href="https://dabubble.mathias-kohler.de" target="_blank">
        <button class="btn btn--purple">Live test</button>
      </a>

      <a href="https://github.com/Zwogli/DABubble-solo" target="_blank">
        <button class="btn btn__border--green">Github</button>
      </a>
    </div>
  </article>
</main>
