<main data-aos="zoom-in-left" data-aos-offset="150">
  <img src="assets/projects/dabubble/dabubble-devices.png" alt="" />

  <article>
    <h3>Da-Bubble</h3>
    <p class="subheadline">Angular | Typescript | Firebase</p>
    <p>
      A chat programme in which you can exchange information with your team. For
      better organisation, you can also open a chat room or chat directly with
      your colleagues for a private chat.
    </p>

    <div class="container__btn--hover">
      <a href="https://dabubble.mathias-kohler.de" target="_blank">
        <button class="btn btn--purple">Live test</button>
      </a>

      <a href="https://github.com/Zwogli/DABubble-solo" target="_blank">
        <button class="btn btn__border--green">Github</button>
      </a>
    </div>
  </article>
</main>
